<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Template</title>
    <link rel="stylesheet" href="css/main.css" />
    
</head>
<body>
    <div class="container">
        <header class="page-header">
            <h1>Título página</h1>
        </header>
        <nav class="page-nav">
            <ul>
                <li><a href="#">Menú 1</a></li>
                <li><a href="#">Menú 2</a></li>
                <li><a href="#">Menú 3</a></li>
                <li><a href="#">Menú 4</a></li>
            </ul>
        </nav>
        <main class="page-main">
            <section class="page-section">
                <h2>Sección 1</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla libero fuga maiores? Voluptatum dolor dicta omnis minus, qui, vel quo officiis recusandae harum a ipsam dolorem atque magnam quaerat? Fugiat blanditiis quasi, adipisci saepe laboriosam neque laudantium unde. Reprehenderit, vitae repellendus eaque ipsum quasi tenetur, quas porro exercitationem debitis illo quia cumque ducimus quos molestias, tempore odit voluptas nemo minima sint beatae. Similique dolores nam iste accusantium consequuntur veritatis tenetur ipsam ullam blanditiis temporibus provident, adipisci delectus quasi necessitatibus esse voluptatem quo, eveniet ad nostrum, velit harum facilis? Dignissimos corporis magni, ipsam magnam sequi saepe aspernatur ea. Consectetur, molestias incidunt.</p>
                <p>Impedit accusantium reiciendis aspernatur quas repellendus debitis aliquam voluptatibus dolor cum officia sit deserunt, molestias deleniti fugit, minus temporibus in accusamus adipisci optio? Nam consequatur reprehenderit, harum consequuntur dignissimos incidunt deleniti perferendis sunt! Soluta deleniti ipsum praesentium, cum numquam minima esse consectetur accusamus, quibusdam iste, ratione autem tempora. Cum quae atque dolore corporis voluptate! Quae dicta exercitationem earum accusantium voluptates consequuntur porro blanditiis voluptate veritatis consequatur dolorum quisquam, labore dignissimos quod quas, tenetur iste. Consectetur repellat explicabo consequatur ipsa consequuntur at, recusandae eaque, dolorum excepturi animi optio ratione! Doloribus, mollitia magnam quis praesentium alias eius saepe corrupti aliquam sed magni.</p>
            </section>
            <section class="page-section">
                <h2>Sección 2</h2>
                <p>Voluptatum repudiandae officia tempora consequuntur doloremque? Distinctio delectus provident similique, a inventore repudiandae ad consequuntur reiciendis quos illum, temporibus eos odio laboriosam minus numquam nam possimus! Debitis fugiat expedita optio quaerat assumenda magnam eum nostrum ut labore architecto, quam inventore a pariatur. Ducimus laborum, incidunt minima quaerat, adipisci veniam doloremque ipsum rem at fugiat harum. Id, recusandae eos blanditiis illum distinctio quam qui cum, neque vitae quis, corrupti magnam quo veritatis dolorum itaque atque incidunt? Dolor, dolores voluptatem nemo adipisci distinctio dicta eius, provident quis veritatis nam ipsum recusandae. Sed eius dolores incidunt, consectetur maxime facilis quod et pariatur voluptates?</p>
                <p>Aliquid, minus et tenetur incidunt sequi laborum unde, architecto temporibus magnam mollitia modi veniam provident accusamus asperiores, assumenda corporis libero omnis voluptate. Est recusandae vero nihil quaerat animi deleniti quisquam et, nemo obcaecati fugit consequuntur, asperiores aut officiis expedita sapiente iure. Veritatis nihil iure qui tempora consequatur suscipit ea? Laboriosam sequi eos amet neque quos, nesciunt non aperiam numquam itaque veritatis deleniti. Officia dicta veritatis nulla nobis cumque tenetur ea culpa, temporibus veniam voluptates corporis recusandae ut atque? Labore, officia. Hic quae facilis modi neque perferendis voluptas, ipsam, eligendi deserunt cumque culpa praesentium nemo fugit. A, deserunt dolores. Inventore, modi!</p>
            </section>
        </main>
        <footer class="page-footer">
            <p>Todos los derechos reservados | eduMac 2018 | Daniel Sánchez</p>
        </footer>
    </div>
    <div id="js">
        <script src="js/lib/jquery-3.3.1.min.js"></script>
        <script src="js/main.js"></script>
    </div>
</body>
</html>